@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>O objetivo da versão web é facilitar a administração das aparições recebidas no app Xenartras.</a></p>
    <p>Clique nos botões na barra de navegação para começar a administrar!</a></p>
</div>
